LINE_CHANNEL_SECRET = 
LINE_CHANNEL_ACCESS_TOKEN = 
OPENAI_API_KEY = 
OPENAI_SYSTEM_MESSAGE = '你現在非常會做問答題目，能夠透過文章找出答案'
CHAT_COMPLETION_MODEL = 'gpt-3.5-turbo'
EMBEDDING_MODEL = 'text-embedding-ada-002'

STORAGE_FILE_NAME = 'embedding.json'
DOCS_PATH = 'TCMSV_alldesc.csv'